* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: normal;
    word-wrap: break-word;
}

#contents {
    padding-top: 0;
    background: transparent;
}

#footer {
    background: transparent;
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Shippori Mincho', serif;
    background: #303030;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

img {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

table {
    background-color: transparent;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

.fixedcontainer {
    width: 1110px;
    margin: 0 auto;
    padding: 0px;
}

a {
    color: inherit;
}

a:visited,
a:link,
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.red {
    color: #ed1c24;
}

.bkyellow {
    background-color: #fff100;
}

.bold {
    font-weight: bold;
}

.btline {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.visible-sp {
    display: none;
}

.hidden-sp {
    display: block;
}

.visible-xs {
    display: none;
}

.hidden-xs {
    display: block;
}

.visible-500 {
    display: none;
}

.hidden-500 {
    display: block;
}

.flex {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

a {
    text-decoration: none;
}

.visible-sp {
    display: none;
}

#header {
    background: transparent;
    padding: 0;
}

#btn_menu {
    display: none;
}

header {
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 999;
}

@media screen and (max-width: 500px) {
    header {
        position: fixed !important;
        top: 0;
        width: 100%;
        z-index: 999;
    }
}

header .header {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px;
    margin-right: 0;
}

header .header .logo {
    margin-left: 40px;
}

@media screen and (max-width: 950px) {
    header .header {
        margin: 0;
        padding: 5px 10px;
        background: #333;
    }
    header .header .logo {
        width: 180px;
        margin-left: 0;
    }
}

@media screen and (max-width: 1500px) {
    header .header .header__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

header .header .header__right .topheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

@media screen and (max-width: 1500px) {
    header .header .header__right .topheader {
        margin-right: 40px;
    }
}

header .header .header__right .topheader .tag {
    margin: 0 24px;
}

header .header .header__right .topheader .registration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
}

header .header .header__right .topheader .registration::before {
    content: url("../img/registration.png");
    position: relative;
    line-height: 0;
    margin-right: 5px;
}

@media screen and (max-width: 500px) {
    header .header .header__right .topheader .registration {
        display: none;
    }
}

header .header .header__right .topheader .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
}

header .header .header__right .topheader .login::before {
    content: url("../img/login.png");
    position: relative;
    line-height: 0;
    margin-right: 5px;
}

@media screen and (max-width: 500px) {
    header .header .header__right .topheader .login {
        display: none;
    }
}

header .header .header__right .topheader .search {
    position: relative;
}

@media screen and (max-width: 950px) {
    header .header .header__right .topheader .search {
        display: none;
    }
}

header .header .header__right .topheader .search input {
    background: rgba(83, 83, 83, 0.8);
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 15px !important;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 14px;
    position: relative;
    color: white;
    height: auto;
}

.bt_search .cb-search {
    fill: white;
    width: 20px;
}

.bt_search {
    width: auto;
    height: auto;
    right: 8px
}

header .header .header__right .topheader .search img {
    position: absolute;
    right: 13px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 1400px) {
    header .header .header__right .topheader .phone {
        display: none;
    }
}

header .header .header__right .topheader .phone a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
}

header .header .header__right .topheader .phone a::before {
    content: url("../img/call.png");
    margin-right: 10px;
    line-height: 0;
}

header .header .header__right .topheader .phone a .call_line {
    line-height: 1;
}

header .header .header__right .topheader .phone a .call_line .number {
    font-size: 19px;
    letter-spacing: 3px;
}

header .header .header__right .topheader .phone a .call_line .time {
    font-size: 11px;
    letter-spacing: 1px;
}

header .header .header__right .topheader .cart1 {
    position: relative;
}

header .header .header__right .topheader .cart1 .count {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #333;
}

@media screen and (max-width: 1400px) {
    header .header .header__right .topheader .cart1 {
        display: none;
    }
}

header .header .header__right .bottomheader {
    background: rgba(51, 51, 51, 0.6);
    padding: 20px 100px 20px 80px;
    margin-top: 20px;
}

@media screen and (max-width: 1500px) {
    header .header .header__right .bottomheader {
        display: none;
    }
}

header .header .header__right .bottomheader a {
    color: white;
    font-size: 16px;
    margin-right: 50px;
}

header .header .header__right .bottomheader a::before {
    content: url("../img/arrow.png");
    line-height: 0;
    margin-right: 5px;
}

header .header .menu-trigger {
    position: relative;
    top: 0px;
    right: 3%;
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: right;
    width: 50px;
    height: 50px;
    z-index: 2;
}

header .header .menu-trigger.visible-sp {
    display: none;
}

header .header .menu-trigger span {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: right;
    position: absolute;
    background: #fff;
    width: 30px;
    height: 2px;
    left: 0;
    right: 0;
    margin: auto;
}

header .header .menu-trigger span:nth-of-type(1) {
    top: 15px;
}

header .header .menu-trigger span:nth-of-type(2) {
    top: 0;
    bottom: 0;
}

header .header .menu-trigger span:nth-of-type(3) {
    bottom: 15px;
}

header .header .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(9px) rotate(-45deg);
    transform: translateY(9px) rotate(-45deg);
    background: #fff;
}

header .header .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

header .header .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-9px) rotate(45deg);
    transform: translateY(-9px) rotate(45deg);
    background: #fff;
}

header .g-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    background: #333;
    width: 100%;
    height: 100%;
    z-index: 1;
}

header .g-nav.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

header .g-nav .list {
    margin-top: 70px;
    padding: 20px;
    height: 100vh;
    background: #333;
}

header .g-nav .list li {
    text-align: center;
    padding: 13px;
    border-bottom: 1px solid white;
}

header .g-nav .list li :last-child {
    border-bottom: none;
}

header .g-nav .list li a {
    display: inline-block;
    width: 228px;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 22px;
}

@media screen and (max-width:768px) {
    header .g-nav .list li a {
        font-size: 18px;
    }
}

header .g-nav .list li a .count {
    color: #fff;
}

header .g-nav .list li.contact_btn a {
    border: 3px solid #FF830E;
    border-radius: 6px;
    padding: 7px 0;
    color: #FF830E;
    background-color: #fff;
}

header .g-nav .list li.order_btn a {
    color: #fff;
    background-color: #FF830E;
    border-radius: 6px;
}

.banner {
    background: url(../img/back.png);
    background-size: 100%;
    display: block;
    position: relative;
    padding-bottom: 50px;
}

@media screen and (max-width: 500px) {
    .banner {
        padding-bottom: 0;
    }
}

.banner .slider {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
    position: relative;
}

@media screen and (max-width: 1400px) {
    .banner .slider {
        padding-top: 15%;
    }
}

@media screen and (max-width: 768px) {
    .banner .slider {
        padding-top: 150px;
    }
}

.banner .slider .slide img {
    display: block;
    width: 100%;
    height: auto;
}

.banner .slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}

.banner .slider .slick-dots li {
    margin: 0 0.25rem;
}

.banner .slider .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background: grey;
    text-indent: -9999px;
    margin: 0 10px;
}

.banner .slider .slick-dots button::before {
    display: none;
}

.banner .slider .slick-dots li.slick-active button {
    background-color: white;
}

.banner .slider .slick-arrow {
    position: absolute;
    top: 60%;
    margin: -20px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.banner .slider .slick-arrow,
.banner .slider .slick-arrow:focus,
.banner .slider .slick-arrow:active {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

.banner .slider .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/left.png") 0 0/100% no-repeat;
    background-size: contain;
    left: -10%;
}

@media screen and (max-width: 1400px) {
    .banner .slider .slick-arrow.slick-prev {
        width: 1.8vw;
    }
}

.banner .slider .slick-arrow.slick-next {
    right: 0;
    background: url("../img/right.png") 0 0/100% no-repeat;
    background-size: contain;
    right: -10%;
}

@media screen and (max-width: 1400px) {
    .banner .slider .slick-arrow.slick-next {
        width: 1.8vw;
    }
}

.banner .mv {
    position: absolute;
    top: 250px;
    right: 20%;
    z-index: 100;
}

@media screen and (max-width: 1400px) {
    .banner .mv {
        width: 10vw;
        top: 20%;
    }
}

@media screen and (max-width: 500px) {
    .banner .mv {
        top: 80px;
        width: 12vw;
    }
}

.banner .stamp {
    position: absolute;
    bottom: 20%;
    left: 11%;
}

@media screen and (max-width: 1400px) {
    .banner .stamp {
        width: 6vw;
        bottom: 25%;
    }
}

@media screen and (max-width: 500px) {
    .banner .stamp {
        width: 9vw;
        top: 62%;
        bottom: auto;
    }
}

.banner .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    max-width: 1280px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-bottom: 50px;
    border-bottom: 1px dotted white;
}

@media screen and (max-width: 500px) {
    .banner .news {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 15%;
        padding-bottom: 10px;
    }
}

.banner .news .title p {
    color: white;
}

.banner .news .title_one {
    font-size: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
}

@media screen and (max-width: 1400px) {
    .banner .news .title_one {
        font-size: calc( 21 / 1400 * 100vw);
    }
}

@media screen and (max-width: 500px) {
    .banner .news .title_one {
        font-size: calc( 24 / 500 * 100vw);
    }
}

.banner .news .title_one::after {
    content: '';
    background: rgba(255, 255, 255, 0.4);
    width: 80px;
    height: 2px;
    position: relative;
    display: block;
    margin-left: 50px;
}

@media screen and (max-width: 1400px) {
    .banner .news .title_one::after {
        width: calc( 80 / 1400 * 100vw);
        margin-left: calc( 50 / 1400 * 100vw);
    }
}

.banner .news .title_two {
    font-size: 11px;
    letter-spacing: 5px;
}

@media screen and (max-width: 1400px) {
    .banner .news .title_two {
        font-size: calc( 11 / 1400 * 100vw);
        letter-spacing: calc( 5 / 1400 * 100vw);
    }
}

@media screen and (max-width: 500px) {
    .banner .news .title_two {
        font-size: calc( 18 / 500 * 100vw);
    }
}

.banner .news .news-content {
    margin-left: 100px;
}

@media screen and (max-width: 500px) {
    .banner .news .news-content {
        margin-left: 0;
        margin-top: 20px;
    }
}

.banner .news .news-content .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .banner .news .news-content .content {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
}

.banner .news .news-content .content .date {
    font-size: 14px;
    color: white;
    margin-top: 0px;
    padding: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 1400px) {
    .banner .news .news-content .content .date {
        font-size: calc( 14 / 1400 * 100vw);
    }
}

@media screen and (max-width: 500px) {
    .banner .news .news-content .content .date {
        font-size: calc( 16 / 500 * 100vw);
    }
}

.banner .news .news-content .content .news-title {
    font-size: 14px;
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    padding: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 1400px) {
    .banner .news .news-content .content .news-title {
        font-size: calc( 14 / 1400 * 100vw);
    }
}

@media screen and (max-width: 500px) {
    .banner .news .news-content .content .news-title {
        font-size: calc( 16 / 500 * 100vw);
        margin-left: 20px;
    }
}

.banner .sns {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 5px;
    right: 5%;
    bottom: 50px;
}

.banner .sns .follow {
    color: white;
    font-size: 15px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: block;
    margin-bottom: 50px;
}

.banner .sns a {
    margin-top: 10px;
}

.banner .sns a img {
    width: 31px;
}

.ranking {
    width: 100%;
    background: url(../img/back1.png);
    background-size: 100%;
    padding-bottom: 3%;
}

.ranking h2 {
    padding: 5% 0 0;
    margin: 0;
    color: #c1c1c1;
    text-align: center;
    letter-spacing: 10px;
    font-size: 34px;
}

.ranking h2 .eng {
    font-size: 11px;
    letter-spacing: 10px;
}

.ranking h2 .under {
    position: relative;
}

.ranking h2 .under::after {
    content: '';
    display: block;
    background: #c1c1c1;
    height: 2px;
    position: absolute;
    bottom: -10px;
    width: 30px;
    left: 35%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ranking_part {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    max-width: 1280px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.ranking_part li {
    width: 200px;
    margin: 30px 20px;
}

@media screen and (max-width: 1400px) {
    .ranking_part li {
        width: calc( 200/1400 * 100vw);
        margin: calc( 30/1400 * 100vw) calc( 20/1400 * 100vw);
    }
}

@media screen and (max-width: 950px) {
    .ranking_part li {
        width: calc( 300/1400 * 100vw);
    }
}

@media screen and (max-width: 500px) {
    .ranking_part {
        width: 100%;
    }
    .ranking_part li {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 calc( 450/1400 * 100vw);
        flex: 1 0 calc( 450/1400 * 100vw);
    }
}

.ranking_part li:empty {
    height: 0;
    border: none;
}

.ranking_part li figure {
    margin: 0;
}

.ranking_part li figure img {
    width: 100%;
}

.ranking_part li figure h3 {
    font-size: 21px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ranking_part li figure h3 img {
    margin-right: 10px;
    width: auto;
}

.ranking_part li figcaption {
    margin-top: 10px;
}

.ranking_part li figcaption p {
    color: white;
}

.ranking_part li figcaption .foodname {
    font-size: 13px;
    min-height: 60px;
}

@media screen and (max-width: 500px) {
    .ranking_part li figcaption .foodname {
        font-size: 18px;
    }
}

.ranking_part li figcaption .foodcost {
    font-size: 13px;
}

@media screen and (max-width: 500px) {
    .ranking_part li figcaption .foodcost {
        font-size: 18px;
    }
}

.ranking_part li figcaption .cart {
    margin-top: 10px;
}

.ranking_part li figcaption .cart a {
    background-color: #B0A26F;
    color: #000;
    font-size: 13px;
    padding: 5px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 110px;
    margin-left: auto;
}

@media screen and (max-width: 500px) {
    .ranking_part li figcaption .cart a {
        font-size: 15px;
        width: 120px;
    }
}

.ranking_part li figcaption .cart a img {
    width: 13px;
    margin-right: 5px;
}

@media screen and (max-width: 500px) {
    .ranking_part li figcaption .cart a img {
        width: 15px;
    }
}

.recommend-section {
    background: url("../img/back_re.png");
    background-size: 100%;
}

.recommend-section .recommend {
    padding-top: 4%;
    position: relative;
    width: 100%;
    background: transparent;
}

.recommend-section .recommend h2 {
    margin: 0;
    color: #c1c1c1;
    text-align: center;
    letter-spacing: 10px;
    font-size: 34px;
}

.recommend-section .recommend h2 .eng {
    font-size: 11px;
    letter-spacing: 6px;
}

.recommend-section .recommend h2 .under {
    position: relative;
}

.recommend-section .recommend h2 .under::after {
    content: '';
    display: block;
    background: #c1c1c1;
    height: 2px;
    position: absolute;
    bottom: -10px;
    width: 30px;
    left: 35%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.recommend-section .recommend .recommendslider {
    margin-top: 3%;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .recommend-section .recommend .recommendslider {
        margin-top: 10%;
    }
}

.recommend-section .recommend .recommendslider .slick-list {
    margin-left: -10px;
}

.recommend-section .recommend .recommendslider .slick-slide {
    margin-left: 10px;
}

.recommend-section .recommend .recommendslider .slick-slide img {
    width: 100%;
}

.recommend-section .recommend .recommendslider .slick-arrow {
    position: absolute;
    bottom: -20%;
    margin: -20px 0px 0px 0px;
    z-index: 999;
    font-size: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .recommend-section .recommend .recommendslider .slick-arrow {
        display: none !important;
    }
}

.recommend-section .recommend .recommendslider .slick-arrow,
.recommend-section .recommend .recommendslider .slick-arrow:focus,
.recommend-section .recommend .recommendslider .slick-arrow:active {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

.recommend-section .recommend .recommendslider .slick-arrow.slick-prev {
    left: 18%;
    background-size: contain;
    background: rgba(66, 66, 66, 0.4);
    width: calc( 50 / 1920 * 100vw);
    height: calc(50 / 1920 * 100vw);
}

.recommend-section .recommend .recommendslider .slick-arrow.slick-prev::before {
    content: '\f104';
    display: block;
    font: normal normal normal 21px/1 Fontawesome;
    color: white;
}

.recommend-section .recommend .recommendslider .slick-arrow.slick-next {
    left: 21%;
    background-size: contain;
    background: rgba(66, 66, 66, 0.4);
    width: calc( 50 / 1920 * 100vw);
    height: calc(50 / 1920 * 100vw);
}

.recommend-section .recommend .recommendslider .slick-arrow.slick-next::before {
    content: '\f105';
    display: block;
    font: normal normal normal 21px/1 Fontawesome;
    color: white;
}

.recommend-section .recommend .more {
    color: white;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 150px;
    position: absolute;
    bottom: 5%;
    right: 15%;
}

.recommend-section .recommend .more img {
    margin-right: 10px;
}

.mainlist {
    background: url("../img/cateback.png");
    background-size: 100%;
    padding-bottom: 100px;
}

@media screen and (max-width: 500px) {
    .mainlist {
        padding-bottom: 20px;
    }
}

.mainlist h2 {
    padding: 5% 0 0;
    margin: 0;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    font-size: 32px;
}

.mainlist h2 .eng {
    font-size: 11px;
    letter-spacing: 10px;
}

.mainlist h2 .under {
    position: relative;
}

.mainlist h2 .under::after {
    content: '';
    display: block;
    background: white;
    height: 2px;
    position: absolute;
    bottom: -10px;
    width: 30px;
    left: 55%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.mainlist_part {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    max-width: 1280px;
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mainlist_part li {
    margin: 30px 20px;
    width: 200px;
}

@media screen and (max-width: 1400px) {
    .mainlist_part li {
        width: calc( 200 / 1400 * 100vw);
        margin: calc( 30 / 1400 * 100vw) calc( 20 / 1400 * 100vw);
    }
}

@media screen and (max-width: 950px) {
    .mainlist_part li {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 calc( 250 / 1400 * 100vw);
        flex: 1 0 calc( 250 / 1400 * 100vw);
    }
}

@media screen and (max-width: 500px) {
    .mainlist_part {
        width: 100%
    }
    .mainlist_part li {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 calc( 450 / 1400 * 100vw);
        flex: 1 0 calc( 450 / 1400 * 100vw);
        margin: 10px;
    }
}

.mainlist_part li:empty {
    height: 0;
    border: none;
    margin: 0;
    padding: 0;
}

.mainlist_part li figure img {
    width: 100%;
}

.mainlist_part li figcaption p {
    color: white;
}

.mainlist_part li figcaption .tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
}

.mainlist_part li figcaption .tag p {
    font-size: 13px;
    margin-right: 10px;
}

@media screen and (max-width: 1400px) {
    .mainlist_part li figcaption .tag p {
        font-size: calc( 13 / 1400 * 100vw);
        margin-right: calc( 10 / 1400 * 100vw);
    }
}

@media screen and (max-width: 500px) {
    .mainlist_part li figcaption .tag p {
        font-size: calc( 45 / 1400 * 100vw);
        margin-right: calc( 20 / 1400 * 100vw);
    }
}

.mainlist_part li figcaption .tag #product_tag_box__product_tag--1 {
    background-color: #68ada3;
    padding: 1px 5px;
}

.mainlist_part li figcaption .tag #product_tag_box__product_tag--2 {
    background-color: #ff8a00;
    padding: 1px 5px;
}

.mainlist_part li figcaption .tag #product_tag_box__product_tag--3 {
    background-color: #d04b5b;
    padding: 1px 5px;
}

.mainlist_part li figcaption .foodname {
    font-size: 13px;
    min-height: 60px;
}

@media screen and (max-width: 500px) {
    .mainlist_part li figcaption .foodname {
        font-size: 18px;
    }
}

.mainlist_part li figcaption .foodcost {
    font-size: 13px;
}

@media screen and (max-width: 500px) {
    .mainlist_part li figcaption .foodcost {
        font-size: 18px;
    }
}

.mainlist_part li figcaption .cart1 {
    margin-top: 10px;
}

.mainlist_part li figcaption .cart1 button {
    background-color: #B0A26F;
    color: #000;
    font-size: 13px;
    padding: 5px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 110px;
    margin-left: auto;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 500px) {
    .mainlist_part li figcaption .cart1 button {
        font-size: 15px;
        width: 120px;
    }
}

.mainlist_part li figcaption .cart1 button img {
    width: 13px;
    margin-right: 5px;
}

@media screen and (max-width: 500px) {
    .mainlist_part li figcaption .cart1 button img {
        width: 15px;
    }
}

.category {
    background: url(../img/categoryback.png);
    background-size: cover;
    padding-bottom: 3%;
}

.category .productcategory {
    padding-top: 5%;
}

.category .productcategory h2 {
    margin: 0;
    color: #c1c1c1;
    text-align: center;
    letter-spacing: 10px;
    font-size: 34px;
}

.category .productcategory h2 .eng {
    font-size: 11px;
    letter-spacing: 10px;
}

.category .productcategory h2 .under {
    position: relative;
}

.category .productcategory h2 .under::after {
    content: '';
    display: block;
    background: #c1c1c1;
    height: 2px;
    position: absolute;
    bottom: -10px;
    width: 30px;
    left: 35%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.category .productcategory_part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    max-width: 1280px;
    width: 90%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 20px;
}

.category .productcategory_part li {
    width: 375px;
    position: relative;
}

@media screen and (max-width: 1400px) {
    .category .productcategory_part li {
        width: calc( 375 / 1400 * 100vw);
    }
}

@media screen and (max-width: 1400px) {
    .category .productcategory_part li {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 calc( 900 / 1400 * 100vw);
        flex: 1 0 calc( 900 / 1400 * 100vw);
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

.category .productcategory_part li h3 {
    position: absolute;
    top: -20px;
    left: 25px;
    background-color: white;
    text-orientation: upright;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 17px;
    padding: 15px 3px;
    z-index: 10;
    margin: 0;
}

.category .productcategory_part li h3 img {
    margin-bottom: 10px;
}

.category .productcategory_part li a img {
    width: 100%;
}

.category .productcategory_part li p {
    color: white;
    font-size: 15px;
    margin: 10px 0;
}

#footer {
    padding-bottom: 50px;
    background: #333;
}

#footer .topfooter {
    border-bottom: 1px solid grey;
}

#footer .topfooter ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0;
}

#footer .topfooter ul li {
    margin: 10px 0;
}

#footer .topfooter ul li a {
    color: white;
    margin: 30px;
    padding: 0;
    font-size: 16px;
}

#footer .topfooter ul li:not(:last-child) {
    border-right: 1px solid white;
}

#footer .bottomfooter {
    margin-top: 50px;
}

#footer .bottomfooter .footerlogo {
    margin-left: 5%;
}

#footer .bottomfooter .footerlogo p {
    color: white;
    margin: 2px 0;
}

#footer .bottomfooter .footerlogo .company {
    font-size: 18px;
}

#footer .bottomfooter .footerlogo .address {
    font-size: 13px;
}

#footer .bottomfooter .copy {
    font-size: 11px;
    text-align: center;
    color: white;
}

.top {
    color: white !important;
    background: #303030;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    display: block;
    padding: 15px 23px;
    border: 1px solid grey;
}

@media screen and (max-width: 1440px) {
    .visible-sp {
        display: block !important;
    }
    .menu-trigger.visible-sp {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .top {
        bottom: 35px;
        right: 15px;
    }
}


/*# sourceMappingURL=style.css.map */


/* Detail Page */

.container-fluid {
    max-width: 100%;
    padding: 0;
}

.item_detail_tag {
    background: url(../img/back_detail.png);
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 50px;
}

@media screen and (max-width: 1400px) {
    .item_detail_tag {
        padding-top: 150px;
        padding-bottom: 0;
    }
}

.item_detail_tag.tagsecond {
    padding-top: 100px;
    padding-bottom: 100px;
}

#item_detail {
    padding: 50px 20px;
    background: white;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1400px) {
    #item_detail {
        padding-bottom: 0;
    }
}

.best {
    position: relative;
    z-index: 1;
}

.best img {
    width: 100%;
}

.rakuten {
    margin-top: -10px;
    background: url(../img/back1.png);
    background-size: cover;
    position: relative;
    z-index: 2;
    padding-bottom: 50px;
}

.rakuten h2 {
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 90px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .rakuten h2 {
        font-size: 40px;
        color: white;
        padding: 70px 10px;
    }
}

.rakuten .review {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

@media screen and (max-width: 500px) {
    .rakuten .review:last-child {
        margin-bottom: 0;
    }
    .rakuten {
        padding-bottom: 50px;
    }
}

.rakuten .review .review_title {
    text-align: center;
    color: white;
    position: relative;
}

.rakuten .review .review_title img {
    width: 100%;
    height: 100px;
}

.rakuten .review .review_title p {
    font-size: 35px;
    position: absolute;
    letter-spacing: -1px;
    left: 0;
    right: 0;
    top: 50%;
    width: 90%;
    transform: translateY(-70%);
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1040px) {
    .rakuten .review .review_title p {
        font-size: 25px;
        position: absolute;
        letter-spacing: -1px;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-65%);
    }
}

.rakuten .review .review_content {
    background: white;
    margin-top: -25px;
    position: relative;
    z-index: -1;
    padding: 30px;
}

.rakuten .review .review_content .marker {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rakuten .review .review_content .marker .star {
    display: flex;
    align-items: center;
}

.rakuten .review .review_content .marker span {
    font-size: 40px;
    color: #f8ae4b;
    font-weight: bold;
    margin-left: 20px;
}

.rakuten .review .review_content .man,
.rakuten .review .review_content .riview_detail {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

.rakuten .review .review_content .man {
    display: flex;
    align-items: center;
}

.rakuten .review .review_content .man p {
    margin-right: 20px;
}

.rakuten .review .review_content .man span {
    color: #f8ae4b;
}

.rakuten .review .review_content .riview_detail {
    margin-top: 30px;
}

.rakuten .review .review_content .riview_detail p {
    margin-top: 10px;
}

.advertise {
    background: url('../img/black.png');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.advertise .adb_tag {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.favor {
    background: #333;
    padding-top: 100px;
    padding-bottom: 100px;
}

.favor .adb_tag {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.gift {
    background: url('../img/back1.png');
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width: 500px) {
    .advertise,
    .favor,
    .gift,
    .item_detail_tag.tagsecond {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.gift .adb_tag {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.page-heading {
    color: #c1c1c1;
}

.row {
    color: white;
}

.registration_page .dl_table dt,
.form-inline label,
.registration_page .form_terms_link,
.item_name,
.item_price {
    color: white;
}

#login_box .column .btn_area ul li a,
.form-control {
    color: #333;
}

#item_detail_area .item_name,
#item_detail_area .item_detail .item_code,
#item_detail_area .item_detail .relative_cat,
#shopping_confirm .heading02,
.total_box dl dd,
#shopping_confirm .total_box dl dt,
#shopping_confirm .total_box .total_amount p.total_price,
dl.quantity dt,
div.table ol li,
#item_detail_area .item_detail .item_comment,
#item_detail_area .item_detail p {
    color: #333;
}

#login_box .column .message {
    padding: 8px 13%;
    margin: 0;
    color: #333;
}

.local_nav li a,
.mypage .message,
.cart_item .item_box .table .item_name a,
.total_box dl.total_price dd {
    color: white;
}

.local_nav li a:hover {
    background: transparent;
}

.text-primary,
.open>.dropdown-toggle.btn-primary,
#item_detail_area .item_detail .sale_price {
    color: #DA0203;
}

.relative_cat ol {
    color: #B0A16E;
}

#relative_category_box__relative_category--1_1 li {
    color: #B0A16E;
}

.btn-green {
    background: #AFA26E;
    outline: none;
}

.btn-black {
    background: #333;
    outline: none;
}

.btn_contact {
    background: #8F0100;
    outline: none;
    border: none;
    width: 300px;
    margin-top: 20px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: inherit;
    outline: none;
}

#contact_product {
    display: none;
}

#detail_cart_box__button_area {
    margin-left: 50px;
}

#top_box__confirm_button {
    margin-top: 30px;
}